.header-color {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
top: 0;
left:0;
width: 100%;
height:100%;
}

.projects-grid{
  display: flex;
}
.avatar-img{
  height: 250px;
  padding-top:5em;
}

.banner-text{
  background-color: black;
  opacity: 8;
  width: 75%;
  margin: auto;
  border-radius: 10px;

}
/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.btn-social-header {
  display: inline-block;
  height: 70px;
  width: 70px;
  border: 2px solid white;
  border-radius: 70%;
  text-align: center;
  justify-content: center;
  font-size: 55px;
  /* line-height: 250px; */
  color: #473be7;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  padding: 1em;
  font-size: 20px;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  display: inline-block;
  color: #473be7;
  font-size: 5em;
  border-radius: 70%;
  padding: 8px;
  height: 70px;
  width: 70px;
  border: 2px solid white;
  transform: scaleX(.7) scaleY(.7);
  transition: all .4s;
}
.social-links i:hover::after{
transform: scale(2);
}
.footer {
  color: white;
}

.footer h3 {
  margin-bottom: 30px;
}

.footer .footer-above {
  padding-top: 50px;
  background-color: #000120;
}

.footer .footer-col {
  margin-bottom: 50px;
}

.footer .footer-below {
  padding: 25px 0;
  background-color: #473be7;
}
.profile-pic {
  border-radius: 50%;
  width: 320px;
  height: 320px;
}
