.header-color {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
top: 0;
left:0;
width: 100%;
height:100%;
}

.projects-grid{
  display: flex;
}
.avatar-img{
  height: 250px;
  padding-top:5em;
}

.banner-text{
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;

}
.btn-social-header {
  display: inline-block;
  height: 90px;
  width: 90px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  font-size: 55px;
  /* line-height: 250px; */
  color: #473be7;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #473be7;
  background: white;
  border: solid 1px white;
}
/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.btn-social-header {
  display: inline-block;
  height: 70px;
  width: 70px;
  border: 2px solid white;
  border-radius: 70%;
  text-align: center;
  justify-content: center;
  font-size: 55px;
  /* line-height: 250px; */
  color: #473be7;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  padding: 1em;
  font-size: 20px;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  display: inline-block;
  color: #473be7;
  font-size: 5em;
  border-radius: 70%;
  padding: 8px;
  height: 70px;
  width: 70px;
  border: 2px solid white;
  transform: scaleX(.7) scaleY(.7);
  transition: all .4s;
}
.social-links i:hover::after{
transform: scale(2);
}
.footer {
  color: white;
  align-items: flex-end;
  display: block;
}

.footer h3 {
  margin-bottom: 30px;
}

.footer .footer-above {
  padding-top: 50px;
  background-color: #000120;
}

.footer .footer-col {
  margin-bottom: 50px;
}

.footer .footer-below {
  padding: 25px 0;
  background-color: #473be7;
}
.footer footer-col {
  margin-bottom: 50px;
}
.row{
  margin-left: -15px;
  margin-right: 15px;
  background: blue;
  box-sizing: border-box;
  display: block;
}
footer .footer-col{
  margin-bottom: 50px;
}
.list-inline{
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: -5px;
  padding-left: 10px;
  display: inline-block;

}
ui.list-inline{
  margin-top: 0;
  margin-bottom: 10px;
}

.profile-pic {
  border-radius: 50%;
  width: 320px;
  height: 320px;
}
/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #11ABB0; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */
.about-me-paragraph {
  font-size: 25px;
}
section {
    padding: 100px 0px;
    display: block;
}
section.success {
  background: linear-gradient(to right, rgb(36, 36, 62), rgb(48, 43, 99), rgb(15, 12, 41));

}

.sectionwrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
.about-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
}

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
  }

  .content-grid {
    flex: auto;
  
}
